<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Approval Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
    <div class="logo">
        Credit<span>AI</span>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/form">Prediction</a></li>
        <li><a href="/#about">About</a></li>
    </ul>
</nav>

<section class="form-section">

<div class="form-card">

<h2>Credit Card Approval Prediction</h2>

<form action="/prediction" method="POST">

<div class="form-group">
<label>Gender</label>
<input type="text" name="gender" class="form-control" placeholder="M / F" required>
</div>

<div class="form-group">
<label>Number of Children</label>
<input type="number" name="children" class="form-control" required>
</div>

<div class="form-group">
<label>Annual Income</label>
<input type="number" name="income" class="form-control" required>
</div>

<div class="form-group">
<label>Income Type</label>
<select name="income_type" class="form-control">
<option value="Working">Working</option>
<option value="Commercial associate">Commercial Associate</option>
<option value="Pensioner">Pensioner</option>
<option value="State servant">State Servant</option>
</select>
</div>

<div class="form-group">
<label>Education</label>
<select name="education" class="form-control">
<option value="Higher education">Higher Education</option>
<option value="Secondary / secondary special">Secondary</option>
<option value="Incomplete higher">Incomplete Higher</option>
</select>
</div>

<div class="form-group">
<label>Family Status</label>
<select name="family_status" class="form-control">
<option value="Married">Married</option>
<option value="Single">Single</option>
<option value="Civil marriage">Civil Marriage</option>
</select>
</div>

<div class="form-group">
<label>Housing Type</label>
<select name="housing" class="form-control">
<option value="House / apartment">House / Apartment</option>
<option value="With parents">With Parents</option>
<option value="Rented apartment">Rented Apartment</option>
</select>
</div>

<div class="form-group">
<label>Age (Days Birth)</label>
<input type="number" name="age" class="form-control" required>
</div>

<div class="form-group">
<label>Employment Days</label>
<input type="number" name="employment" class="form-control" required>
</div>

<button type="submit" class="predict-btn">
Predict Credit Approval
</button>

</form>

</div>

</section>

</body>
</html>